/* Archivo: src/components/Navbar.css */
/* Estilos para la barra de navegación */

.navbar {
    background-color: #1a237e; /* Color azul oscuro */
    height: 80px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
  }
  
  .navbar-logo {
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  .navbar-logo-img {
    height: 60px; /* Ajusta la altura según sea necesario */
    margin-right: 10px;
  }
  
  .navbar-logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
  }
  
  .navbar-item {
    padding: 0 1rem;
  }
  
  .navbar-link-button {
    color: #fff;
    background: none;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: inherit;
  }
  
  .navbar-link-button:hover {
    color: #ffcc80; /* Color naranja claro al pasar el mouse */
  }
  
  /* Responsive para dispositivos móviles */
  @media screen and (max-width: 768px) {
    .navbar-logo h1 {
      font-size: 1.2rem;
    }
    
    .navbar-logo-img {
      height: 40px; /* Reducir el tamaño del logo en pantallas pequeñas */
    }
    
    .navbar-item {
      padding: 0 0.5rem;
    }
    
    .navbar-link-button {
      padding: 0 0.5rem;
    }
  }